@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

<h4>Employee Table</h4>

<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
<div class="container p-3">
    <div class="col-10 text-end">
        <a asp-controller="Employee" asp-action="Create" class="btn btn-primary"> Create Employee</a>
    </div>

</div>

<table class="display" id="abc" style="width:100%">
    <thead>
        <tr>
            <th>
                Profile
            </th>
            <th>
                Employee Id
            </th>
            <th>
                Name
            </th>
            <th>
                Position
            </th>

            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @using (Html.BeginForm())
        {
            @foreach (var a in Model)
            {
                <tr>
                    <td width="2%">
                        <img src="@a.ProfilePictureUrl" height="40" width="40px" class="rounded-circle" asp-append-version="true">
                    </td>
                    <td width="10%">
                        @a.EmployeeId
                    </td>
                    <td width="10%">
                        @a.Name
                    </td>
                    <td width="10%">
                        @a.Position
                    </td>

                    <td width="10%">
                        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@a.EmployeeId"> Edit</a> |
                        <a asp-controller="Employee" asp-action="Delete" asp-route-id="@a.EmployeeId"> Delete</a>
                        @*<button asp-controller="Employee" asp-action="Delete" type="submit" class="btn-btn danger" onclick="return confirm('Are you sure want to delete @a.Name')" asp-route-id="@a.EmployeeId"> Delete</button>*@
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
